.bottom-nav {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    max-width: 382px;
    /* 430 - 48 */
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CFD8DC;
    cursor: pointer;
    transition: all 0.2s;
    padding: 8px;
    border-radius: 16px;
}

.nav-item:active {
    transform: scale(0.9);
}

.nav-item.active {
    color: var(--primary-teal);
    background-color: var(--primary-light);
}

.nav-icon {
    margin-bottom: 0;
}